.contenido{
    --background: #e0e6ed;
    backface-visibility: 50%;
    //background-image: url('../../assets/imgs/fondo3.jpg');
}

.boton{
    background: #e0e6ed;
    text-align: center;
    font-weight: bolder;
    font-size: 11px;
}

.centro{
    text-align: center;
}

.imagenes{
    align-items: center;
    text-align: center;
}

.hs{
    font-style: oblique;
}